---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: deployment.yaml
  - target:
      kind: Service
      name: acme-node
    patch: |-
      - op: add
        path: /spec/selector/environment
        value: local
  - target:
      kind: HTTPRoute
      name: acme-node-route
    patch: |-
      - op: add
        path: /spec/hostnames/-
        value: "*.acme-node.localhost"
